<h1>Контакты</h1>
<div style="text-align: center;">
	<%= image_tag "2011090801036png.jpg", :width => "700", :height => "299", :title => "2011090801036png.jpg" %>
</div>
<p>&nbsp;</p>
<p align="center" style="text-align: center;"><strong><span style="font-size: 13pt;">Адреса и режим работы</span></strong></p>
<p align="center" style="text-align: center;"><strong>ООО Страховая Медицинская Организация "ЦМС"</strong><br /><br />Расположенна по адресу: 654027, г. Новокузнецк, ул. Куйбышева, 1.<br /><br />Режим работы: ПН-ПТ с 9.00 до 17.30, обед с 13.00 до 13.30, СБ-ВС выходной.<br /><br />Тел./факс: 8 (3843) 72-18-18 <br /><br />эл. адрес: smo-zdravo@mail.ru<br /><br /><strong>Представительство в г. Белово<br /></strong>650099, г. Беолово, пер. Толстого, 18, оф. 2.<br />Режим работы: Понедельник - пятница с 9.00 до 17.00 без обеда, СБ-ВС выходной.<br />Тел.: 8 (38-452) 2-88-56</p>
<p align="center" style="text-align: center;"><br /><strong>Представительство в г. Киселёвске</strong><br />652700, г. Киселёвск, ул. Советская, 10.<br />Режим работы: Понедельник пятница с 8.30 до 17.30 обед: с 13.00 до 14.00, СБ-ВС выходной.<br />Тел.: 8 (38-464) 6-46-79</p>
<p style="text-align: center;"><br /><strong>Пункты выдачи полисов обязательного медицинского страхования:</strong><br />654038, г. Новокузнецк, ул. Мориса Тореза, 15<br />МБЛПУ "Детская городская клиническая больница №3" Детская поликлиника №1.<br />Режим работы: Понедельник - пятница с 8.30 до 15.00 обед: с 11.30 до 12.00, СБ-ВС выходной.<br /><br />654013, г. Новокузнецк. ул. День Шахтера, 14.<br />МБЛПУ "Городская клиническая больница №11" Поликлиника №4<br />Режим работы: Понедельник - пятница с 8.30 до 15.30 обед: с 13.00 до 13.30, СБ-ВС выходной.<br /><br />654027 г. Новокузнецк, ул. Хитарова, 32.<br />МбЛПУ "Городская клиническая поликлиника №9"<br />Режим работы: Понедельник - пятница с 8.30 до 15.30 обед: с 13.00 до 13.30, СБ-ВС выходной.</p>
<p style="text-align: center;">654030 г. Новокузнецк, ул. Побед, 4.</p>
<p style="text-align: center;">МБЛПУ "Городская клиническая больница №1" Поликлиника НКМК<br />Режим работы: Понедельник - пятница с 8.30 до 15.00 обед: с 11.30 до 12.00, СБ-ВС выходной.</p>
<div style="text-align: center;">
<blockquote>654041 г. Новокузнецк, ул. Сеченова, 26,<br /> МБЛПУ "ЗПЦ" Поликлиника №6<br />Режим работы: Понедельник пятница с 8.30 до 15.30 обед: с 11.30 до 12.00, СБ-ВС выходной.<br />(ВРЕМЕННО НЕ РАБОТАЕТ)</blockquote>
<blockquote></blockquote>
</div>
<p style="text-align: center;">
	<%= image_tag "callzdravo.jpg", :width => "150", :height => "97", :title => "call zdravo.jpg" %>
</p>
<p>&nbsp;</p>
<div style="text-align: center;"><strong>Номера телефонов и адреса электронной почты</strong></div>
<p style="text-align: center;"><strong>справочной службы</strong>:</p>
<p style="text-align: center;">8 (3843) 72-18-18,</p>
<p style="text-align: center;">8 (3843) 72-21-16</p>
<p style="text-align: center;">эл. адрес: smo-zdravo@mail.ru</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>Номер телефона и адрес электронной почты</strong></p>
<p style="text-align: center;"><strong>отдела по организации защиты прав застрахованных лиц</strong></p>
<p style="text-align: center;">8 (3843) 72-18-18,</p>
<p style="text-align: center;">8 (3843) 72-21-16</p>
<p style="text-align: center;">эл. адрес: smo-zdravo@mail.ru</p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>Номер телефона и адрес электронной почты</strong></p>
<p style="text-align: center;"><strong>Руководителя ООО СМО "ЦМС" Баранина Алексея Васильевича</strong></p>
<p style="text-align: center;">8 (3843) 72-19-68 &nbsp; &nbsp; &nbsp;эл. адрес: baranin-270866@yandex.ru</p>