<h1>О компании</h1>

<%= image_tag "781826201_6.jpg", :width => "272", :height => "104", :title => "20480_38331273_big.jpg" %>
<p align="center" style="text-align: left;"> </p>
<p style="text-align: center;">
<strong>ОБЯЗАТЕЛЬНОЕ МЕДИЦИНСКОЕ СТРАХОВАНИЕ (ОМС)</strong>
<strong> </strong>
</p>
<p>Это государственная система социальной защиты интересов граждан в охране здоровья. Все граждане Российской Федерации застрахованы по ОМС и имеют право на получение медицинской помощи по полису ОМС, в рамках Территориальной программы Кемеровской области.</p>
<p>Цель ОМС - обеспечить гражданину при возникновении ситуации, требующей медицинской помощи, её получение за счет финансовых средств, аккумулированных в фондах (территориальных и федеральном) обязательного медицинского страхования.</p>
<p>Медицинская помощь по полису ОМС предоставляется в рамках Территориальной программы ОМС, принятой в данном регионе.</p>
<p>
Полис ОМС оформляется всем гражданам РФ, постоянно или временно проживающим в Российской Федерации иностранным гражданам, лицам без гражданства (за исключением высококвалифицированных специалистов и членов их семей в соответствии с Федеральным законом от 25 июля 2002г. №115-ФЗ), а также лицам, имеющим право на медицинскую помощь в соответствии с Федеральным законом "О беженцах" (
<a target="_blank" href="http://www.kemoms.ru/default.aspx?id=11927">Федеральный закон от 29 ноября 2010г. №326-ФЗ</a>
). Полис ОМС оформляется бесплатно.
</p>
<p>Для оформления полиса ОМС необходимо обратиться в выбранную страховую компанию. Каждый гражданин сам выбирает страховую компанию. Для оформления полиса ОМС на ребёнка, страховую компанию выбирают родители.</p>
<p> </p>
<p style="text-align: center;">
<strong>ООО СМО "ЦМС" работает в системе ОМС с декабря 2010 года. Компания активно действует на рынке ОМС Кемеровской области,</strong>
</p>
<p style="text-align: center;">
<strong>стабильно увеличивая численность застрахованных граждан. На 01.11.2012 г. количество застрахованных 7549 человек.</strong>
</p>
<p style="text-align: center;">
<strong> </strong>
</p>
<p style="text-align: center;">
<strong> Бланк полиса ОМС единого образца</strong>
</p>
<p align="center">
  <%= image_tag "501819003_6.jpg", :width => "206", :height => "300", :alt => "Бланк полиса 10001" %>
  <%= image_tag "501818803_6.jpg", :width => "207", :height => "300", :alt => "Бланк полиса 10002" %>
</p>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<p style="text-align: left;">
<strong>
<span style="text-decoration: underline;">ИНФОРМАЦИЯ О РАБОТЕ ПУНКТОВ ВЫДАЧИ ПОЛИСОВ ОМС В ПРАЗДНИЧНЫЕ ДНИ</span>
<br>
</strong>
</p>
<p>
<strong>
Представительство в г. Киселевске
<br>
</strong>
652700, г. Киселевск, ул. Советская, 10.
<br>
Режим работы:
<strong>
<b>04.01.2013</b>
— с 8ч30мин до 14ч00мин
<br>
</strong>
<strong>
<b>                        08.01.2013</b>
— с 8ч30мин до 17ч00мин
</strong>
</p>
<p>
<strong>
<b>
Пункт выдачи полисов ОМС
<br>
</b>
</strong>
654013, г. Новокузнецк, ул. День Шахтера, 14
<br>
<strong>
МБЛПУ «Городская клиническая больница №11» Поликлиника №4
<br>
</strong>
Режим работы:
<strong>
<b>04.01.2013</b>
— с 10ч00мин до 14ч00мин
</strong>
</p>
<p>
<strong>
Головной офис
<br>
</strong>
654027, г. Новокузнецк, ул. Куйбышева, 1
<br>
Режим работы:
<strong>
<b>03.01.2013</b>
— с 10ч00мин до 16ч00мин
<br>
</strong>
<strong>
<b>04.01.2013</b>
— с 10ч00мин до 16ч00мин
<br>
</strong>
<strong>
<b>08.01.2013</b>
— с 10ч00мин до 16ч00мин
</strong>
</p>
<p>--------------------------------------------------------------------------------------------------------------- </p>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong> </strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong>ООО Страховая Медицинская Организация "ЦМС" </strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong>Расположена по адресу: 654027, г. Новокузнецк, ул. Куйбышева, 1.</strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong>Режим работы: ПН-ПТ с 9.00 до 17.30, обед с 13.00 до 13.30, СБ-ВС выходной.</strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong>Тел./факс: 8 (3843) 72-18-18 </strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong> </strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong>эл. адрес: smo-zdravo@mail.ru</strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong>
<span data-mce-mark="1" style="text-decoration: underline;">
<strong>Представительство в г. Белово</strong>
</span>
</strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">650099, г. Белово, пер. Толстого, 18, оф. 2.</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">Режим работы: Понедельник - пятница с 9.00 до 17.00 без обеда</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong>
<span data-mce-mark="1" style="text-decoration: underline;">Представительство в г. Киселёвске</span>
</strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">652700, г. Киселёвск, ул. Советская, 10.</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">Режим работы: Понедельник - пятница с 8.30 до 17.30 обед: с 13.00 до 14.00</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
<strong>
<span data-mce-mark="1" style="text-decoration: underline;">Пункты выдачи полисов обязательного медицинского страхования:</span>
</strong>
</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">654038, г. Новокузнецк, ул. Мориса Тореза, 15</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">МБЛПУ "Детская городская клиническая больница №3" Детская поликлиника №1.</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">Режим работы: Понедельник пятница с 8.30 до 15.00 обед: с 11.30 до 12.00</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">654013, г. Новокузнецк. ул. День Шахтера, 14.</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">МБЛПУ "Городская клиническая больница №11" Поликлиника №4</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">Режим работы: Понедельник пятница с 8.30 до 15.30 обед: с 13.00 до 13.30</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">654027 г. Новокузнецк, ул. Хитарова, 32.</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">МбЛПУ "Городская клиническая поликлиника №9"</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">Режим работы: Понедельник пятница с 8.30 до 15.30 обед: с 13.00 до 13.30</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">654030 г. Новокузнецк, ул. Побед, 4.</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">МБЛПУ "Городская клиническая больница №1" Поликлиника НКМК</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">Режим работы: Понедельник пятница с 8.30 до 15.00 обед: с 11.30 до 12.00</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">654041 г. Новокузнецк, ул. Сеченова, 26, МБЛПУ "ЗПЦ" Поликлиника №6</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">Режим работы: Понедельник пятница с 8.30 до 15.30 обед: с 11.30 до 12.00</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">(ВРЕМЕННО НЕ РАБОТАЕТ)</blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"></blockquote>
<div style="text-align: -webkit-auto;">
<p>
<a href="http://site.kemoms.ru/">http://site.kemoms.ru/</a>
</p>
</div>
<p>
  <%= image_tag "775436801_1.jpg", :width => "90", :height => "74", :title => "logo тфомскем.gif" %>
</p>
<p> </p>
<ul>
<li>
<a href="/licenziya">
<b>Лицензия и состав акционеров</b>
</a>
</li>
<li>
<a href="/o_finansovyh_rezultatah_deyatelnost">
<b>О финансовых результатах деятельности</b>
</a>
</li>
</ul>