<h1>Лицензия и состав акционеров</h1>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	<%= image_tag "501830203_6.jpg", :width => "214", :height => "300", :class => "highslide", :onclick =>"try{hs.expand(this,{src:'/assets/licenziya-1.bmp'});}catch(e){}", :alt =>"Лицензия 1"  %>

	<img class="highslide" onclick="try{hs.expand(this,{src:'/d/286204/d/licenziya-1.bmp'});}catch(e){}" alt="Лицензия 1" src="d/286204/d/501830203_6.jpg" width="214" height="300" border="0" />

	 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

	 <img class="highslide" onclick="try{hs.expand(this,{src:'/d/286204/d/scan10045.jpg'});}catch(e){}" alt="Scan10045.JPG" src="d/286204/d/780865001_6.jpg" width="207" height="300" border="0" />

	  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp;</p>
<p align="center">&nbsp;</p>
<p>&nbsp;
<p style="margin: 0cm; margin-bottom: .0001pt; text-align: center;" align="center"><strong><span style="font-size: 13.5pt; font-family: Futuris;">СПИСОК УЧРЕДИТЕЛЕЙ&nbsp;</span></strong> <strong><span style="font-size: 13.5pt; font-family: Futuris; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-ansi-language: RU; mso-fareast-language: RU; mso-bidi-language: AR-SA;">ООО СМО &laquo;ЦМС&raquo;</span></strong></p>
<p style="margin: 0cm; margin-bottom: .0001pt; text-align: center;" align="center"><strong><span style="font-size: 13.5pt; font-family: Futuris; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-ansi-language: RU; mso-fareast-language: RU; mso-bidi-language: AR-SA;">&nbsp;
<table class="table1" align="center" border="0">
<tbody>
<tr align="center">
<td><span style="font-size: 13pt;">№ п.п.</span><span style="font-size: 13pt;"></span></td>
<td><span style="font-size: 13pt;"> </span>
<p style="margin: 0cm; margin-bottom: .0001pt; text-align: center;"><span style="font-family: &quot;Futuris&quot;;"><span style="font-size: 13pt;">Учредитель</span></span></p>
</td>
</tr>
<tr>
<td align="center"><span style="font-size: 12pt;">1</span><span style="font-size: 12pt;"></span></td>
<td><span style="font-size: 12pt;"> </span>
<p style="margin: 0cm; margin-bottom: .0001pt; text-align: center;" align="center"><span style="font-size: 12pt;"><span style="font-family: Futuris;"><span style="font-size: 12pt;">Баранин </span></span><span style="font-family: Futuris;"><span style="font-size: 12pt;">Алексей </span></span><span style="font-family: &quot;Futuris&quot;;"><span style="font-size: 12pt;">Васильевич</span></span></span><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;"></span></p>
</td>
</tr>
<tr>
<td align="center"><span style="font-size: 12pt;">2</span><span style="font-size: 12pt;"></span></td>
<td><span style="font-size: 12pt;"> </span>
<p style="margin: 0cm; margin-bottom: .0001pt; text-align: center;" align="center"><span style="font-family: Futuris;"><span style="font-size: 12pt;">Котик </span></span><span style="font-family: Futuris;"><span style="font-size: 12pt;">Андрей </span></span><span style="font-family: &quot;Futuris&quot;;"><span style="font-size: 12pt;">Владимирович</span></span><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;"></span></p>
</td>
</tr>
<tr>
<td align="center"><span style="font-size: 12pt;">3</span><span style="font-size: 12pt;"></span></td>
<td><span style="font-size: 12pt;"> </span>
<p style="margin: 0cm; margin-bottom: .0001pt; text-align: center;" align="center"><span style="font-family: Futuris;"><span style="font-size: 12pt;">Колесников </span></span><span style="font-family: Futuris;"><span style="font-size: 12pt;">Дмитрий </span></span><span style="font-family: &quot;Futuris&quot;;"><span style="font-size: 12pt;">Борисович</span></span><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;"></span></p>
</td>
</tr>
<tr>
<td align="center"><span style="font-size: 12pt;">4</span><span style="font-size: 12pt;"></span></td>
<td><span style="font-size: 12pt;"> </span>
<p style="margin: 0cm; margin-bottom: .0001pt; text-align: center;" align="center"><span style="font-family: Futuris;"><span style="font-size: 12pt;">Деменева </span></span><span style="font-family: Futuris;"><span style="font-size: 12pt;">Татьяна </span></span><span style="font-family: &quot;Futuris&quot;;"><span style="font-size: 12pt;">Александровна</span></span><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;"></span></p>
</td>
</tr>
<tr>
<td align="center"><span style="font-size: 12pt;">5</span><span style="font-size: 12pt;"></span></td>
<td><span style="font-size: 12pt;"> </span><span style="font-family: &quot;Futuris&quot;;"><span style="font-size: 12pt;">ЗАО Строительная компания &laquo;Южкузбасстрой&raquo;</span></span></td>
</tr>
</tbody>
</table>
&nbsp;</span></strong></p>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
