<h1>Вопрос - ответ</h1><p style="text-align: center;"><strong><span style="font-size: 12pt;">Уважаемые посетители сайта!</span></strong></p>
<p style="text-align: center;">Перед тем, как задать вопрос, пожалуйста, ознакомьтесь с теми вопросами и ответами, которые были опубликованы ранее.</p>
<p style="text-align: center;">Возможно, ответ на Ваш вопрос уже был дан.</p>
<p style="text-align: center;">Спасибо за сотрудничество!</p><br clear="all"/>

<br />


<br />

<div style="padding:7px;background-color:#f0f0f0">
<b>Сергей</b> 24.09.2012 07:49<br />
Здравствуйте, я живу и работаю в г. Новокузнецке, постоянно прописан в Новосибирске, обратился в больницу, у меня требуют полис КЕмеровской области, могу ли я получить его в Вашей компании? Сергей.</div><br />
<div style="padding:7px;background-color:white">
<b>ООО СМО &quot;ЦМС&quot;</b> 24.09.2012 10:55<br />
Добрый день, Сергей!<br />
<br />
Если Вы имеете полис обязательного медицинского страхования единого образца (его макет размещен на нашем сайте), то можете получить  бесплатную медицинскую помощь в рамках ОМС на территории всей РФ. При отказе медицинской организации Вас принимать, необходимо обратиться в Новокузнецкий филиал Территориального фонда ОМС КО по тел.: 8-3843-52-05-51 или по адресу: г.Новокузнецк, ул.Советской Армии, 13.<br />
<br />
Кроме того, новый Закон об обязательном медицинском страховании, вступивший в силу с 1 января 2011 года, дал право выбора страховой организации каждому из нас. И выбрать страховую организацию можно по месту фактического проживания, вне зависимости от регистрации по месту жительства. Для получения нового медицинского полиса при себе необходимо иметь паспорт гражданина РФ и при наличии СНИЛС. К нам Вы можете обратиться в любой пункт выдачи полисов ОМС, адреса которых размещены на сайте. А также по адресу: г. Новокузнецк, ул. Куйбышева, д.1. Режим работы: понедельник - пятница с 9.00 до 17.30. Обед с 13.00 до 13.30. Тел.: 8-3843-72-18-18.</div><br />
<div style="padding:7px;background-color:#f0f0f0">
<b>Светлана</b> 26.09.2012 18:04<br />
Ко мне в гости приехала родственница, проживающая в Германии. Ей срочно потребовалась консультация ортопеда. При обращении в 29 горбольницу. в регистратуре попросили предъявить полис ОМС, которого у нее нет. Объясните, пожалуйста, как можно оформить требуемый документ, если у женщины двойное гражданство, и большую часть своей жизни она проживает за границей? Можно ли купить полис ОМС, сколько он стоит?</div><br />
<div style="padding:7px;background-color:white">
<b>ООО СМО &quot;ЦМС&quot;</b> 26.09.2012 18:55<br />
Уважаемая Светлана, здравствуйте!<br />
Обращаю Ваше внимание, что полис ОМС выдается бесплатно. Человек, имеющий двойное гражданство, одно из которых обязательно должно быть российское, имеет право на получение полиса ОМС. Для этого нужно обратиться в любую страховую медицинскую организацию, предоставив документ, удостоверяющий личность и при наличии СНИЛС. Режим работы и местонахождение нашей страховой медицинской организации, а также пункты выдачи полисов ОМС, Вы можете найти на нашем сайте. По вопросам обращайтесь по тел. 8-3843-72-18-18, 8-3843-72-21-16</div><br />
<div style="padding:7px;background-color:#f0f0f0">
<b>Наталья</b> 27.09.2012 06:11<br />
Здравствуйте, у меня на руках два полиса. Раньше я работала в московской фирме, мне выдали полис, при увольнении его не потребовали вернуть и он остался у меня. После увольнения я получила полис в г.Новокузнецке как неработающая и он тоже у меня на руках. Мне нужно обратиться в больницу, а я незнаю какой полис предъявить. Подскажите, пожалуйста, какой полис действительный.<br />
Заранее спасибо, Наталья.</div><br />
<div style="padding:7px;background-color:white">
<b>ООО СМО &quot;ЦМС&quot;</b> 27.09.2012 06:32<br />
Здравствуйте, Наталья!<br />
Для обращения в больницу Вам необходимо предъявить полис, полученный в страховой медицинской организации, осуществляющей свою деятельность  на территории Кемеровской области. Этим полисом Вы можете пользоваться до 2014 года.<br />
С 2014 года граждане будут пользоваться полисами единого образца, получить который Вы можете осуществив первичный выбор страховой медицинской организации. На территории Кемеровской области таких организаций 7. Список Вы можете увидеть на сайте Территориального фонда ОМС Кемеровской области. По  вопросам обращайтесь по тел. 8-3843-72-18-18.</div><br />
<div style="padding:7px;background-color:#f0f0f0">
<b>Людмила</b> 27.09.2012 19:06<br />
Добрый день? В гости ко мне приехала сестра, проживающая в Украине. С острым сердечным приступом ее два дня назад госпитализировали в больницу. Женщина имеет двойное гражданство, на руках у нее паспорт СССР. Могу ли я получить на нее полис ОМС,который требуют в больнице?</div><br />
<div style="padding:7px;background-color:white">
<b>ООО СМО &quot;ЦМС&quot;</b> 28.09.2012 15:37<br />
Людмила, здравствуйте!<br />
<br />
К сожалению, наличие паспорта СССР не подтверждает российское гражданство, так как не является действительным документом на сегодняшний день. Поэтому полис ОМС получить нельзя. Однако, обращаю Ваше внимание, что экстренная помощь Вашей сестре должна быть оказана бесплатно.</div><br />
<div style="padding:7px;background-color:#f0f0f0">
<b>Галина  Л.</b> 01.10.2012 20:09<br />
Здравствуйте. Моя мама живет в г.Новокузнецке. Недавно она приехала о мне в гости в г.Санкт-Петербург. Она пенсионного возраста и я беспокоюсь за ее здоровье. Полис она потеряла. Можно ли мне получить за маму полис у Вас, или же мне можно обратиться в страховую в Санкт-Петербурге? Спасибо.</div><br />
<div style="padding:7px;background-color:white">
<b>ООО СМО &quot;ЦМС&quot;</b> 02.10.2012 11:31<br />
Добрый день, Галина!<br />
<br />
Обращаю внимание, что экстренную помощь, при необходимости, Ваша мама может получить бесплатно и без наличия полиса ОМС.<br />
Полис Ваша мама должна получать лично. В случае невозможности, это можете сделать Вы по оформленной должным образом доверенности.<br />
Чтобы ответить, в какую организацию Вам лучше обратиться, хотелось бы знать какой полис был у Вашей мамы утерян (старого образца или новый единого образца, где и в каком году он был получен), а также как долго она будет находиться в г. Санкт-Петербурге. На все вопросы мы ответим по тел.: 8-3843-72-18-18 или 8-3843-72-21-16.</div><br />
<div style="padding:7px;background-color:#f0f0f0">
<b>татьяна</b> 10.12.2012 07:29<br />
я устроена на работу в новосибирске но <br />
проживаю и работаю менеджером в новокузнецке<br />
могу ли я получить у вас полис ОМС</div><br />
<div style="padding:7px;background-color:white">
<b>ООО СМО &quot;ЦМС&quot;</b> 10.12.2012 11:34<br />
Татьяна, добрый день!<br />
Полис ОМС никакого отношения к Вашему месту работы не имеет. Полис Вы можете получить, имея при себе документ, удостоверяющий личность и СНИЛС (при наличии) в любом из пунктов выдачи полисов ОМС, режим работы которых указан на нашем сайте.</div><br />
<div style="padding:7px;background-color:#f0f0f0">
<b>Ольга</b> 15.12.2012 09:40<br />
Вопрос я уже задавала,но он почему-то стерт. Я бы хотела знать ,сокращено ли финансирование на госпитализацию больных,почему плановая госпитализация сейчас переведена на стационар,2-я горбольница работает только на скорую помощь и администрация в курсе,а в следующем году еще будет сокращение,так отвечает главврач.Хочется знать,может у нас стало меньше больных?Или такие болезни как инсульт или неврологические послеоперационные не так уж и страшны ???</div><br />
<div style="padding:7px;background-color:white">
<b>ООО СМО &quot;ЦМС&quot;</b> 17.12.2012 12:16<br />
Здравствуйте, Ольга!<br />
К сожалению, объективно ответить на Ваши вопросы специалистам страховой медицинской организации не представляется возможным, т.к. мы не участвуем в распределении объемов финансирования и определении наличия/отсутствия койкомест в больницах. Вопрос о необходимости плановой госпитализации (стационарном лечении) находится в компетенции лечащего врача, а страховая организация оплачивает оказанные услуги медицинской организации из средств, выделенных на реализацию государственной программы по обязательному медицинскому страхованию.<br />
Для получения более подробной информации по интересующим Вас вопросам рекомендуем обратиться в Управление здравоохранения Администрации г. Новокузнецка по адресу ул. Кирова, 71, каб.628 (тел. 32-16-28, 32-16-29, e-mail: zdrav@admnkz.ru)<br />
На вопросы, относительно возможности получения и переоформления медицинского полиса единого образца, вопросы, касающиеся качества предоставляемой медицинской помощи в рамках обязательного медицинского страхования, специалисты ООО СМО &quot;ЦМС&quot; (ул.Куйбышева, 1) ответят в любой рабочий день с 9.00 до 17.30 час (обед 13.00-13.30 час) Вам при личной встрече или по тел. 72-18-18, 72-21-16.<br />
С уважением, ООО СМО &quot;ЦМС&quot;</div><br />


<form method="post">
<SPAN style="color:red">*</SPAN>Имя:<br />
<input type="text" size="40" name="post_name" value="" id="post_name"><br /><br />
E-mail:<br>
<input type="text" size="20" name="post_mail" value=""><br /><br />
<SPAN style="color:red">*</SPAN>Текст:<br />
<textarea name="post_body" wrap="virtual" cols="50" rows="10" id="post_body"></textarea><br /><br />

<style>
img.captcha {border:1px solid gray;}
</style>

<SPAN style="color:red">*</SPAN><b>Введите код, изображенный на картинке:</b><br />
<img class="captcha" src="http://captcha.oml.ru/captcha.php?hash=R2EHVBwd8heU6g%3D%3D&key=63ed1e0b1d25b51a2dc7bf0b58428f6a&id=cms&format=.gif" align="absmiddle">&nbsp;&nbsp;<input type="text" size="5" maxlength="4" name="_cn" id="_cn">
<input type="hidden" value="9116a625b8ff369610fe60899dcd04f2" name="_cs"><br />
<br />
<input type="submit" value="Отправить">

<br />
<span style="font-size:11px;">Внимание! Отправленное сообщение появится только после проверки администратором сайта!</span>
</form>
<a name="anc" id="anc">&nbsp;</a>
