<h1>Перечень документов, необходимых для получения полиса</h1>
<p style="text-align: center;"><strong><span style="white-space: pre;"> </span>&nbsp;&nbsp;К заявлению о выборе (замене) страховой медицинской организации &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>прилагаются следующие документы или их заверенные копии, необходимые &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;для регистрации в качестве застрахованного лица</strong>:</p>
<p>&nbsp;</p>
<p><strong>1) для детей</strong> после государственной регистрации рождения и до четырнадцати лет, являющихся гражданами Российской Федерации:</p>
<p>свидетельство о рождении;</p>
<p>документ, удостоверяющий личность законного представителя ребенка;</p>
<p>СНИЛС (при наличии);</p>
<p><strong>2) для граждан Российской Федерации в возрасте четырнадцати лет и старше</strong>:</p>
<p>документ, удостоверяющий личность (паспорт гражданина Российской Федерации, временное удостоверение личности гражданина Российской Федерации, выдаваемое на период оформления паспорта);</p>
<p>СНИЛС (при наличии);</p>
<p><strong>3) для лиц, имеющих право на медицинскую помощь</strong> <strong>в соответствии с Федеральным законом &laquo;О беженцах&raquo;</strong>&nbsp;- удостоверение беженца или свидетельство о рассмотрении ходатайства о признании беженцем по существу, или копия жалобы на решение о лишении статуса беженца в Федеральную миграционную службу с отметкой о ее приеме к рассмотрению;</p>
<p><strong>4) для иностранных граждан</strong>, <strong>постоянно</strong> проживающих в Российской Федерации:</p>
<p>паспорт иностранного гражданина либо иной документ, установленный федеральным законом или признаваемый в соответствии с международным договором Российской Федерации в качестве документа, удостоверяющего личность иностранного гражданина;</p>
<p>вид на жительство;</p>
<p>СНИЛС (при наличии);</p>
<p><strong>5) для лиц без гражданства</strong>, <strong>постоянно</strong> проживающих в Российской Федерации:</p>
<p>документ, признаваемый в соответствии с международным договором Российской Федерации в качестве документа, удостоверяющего личность лица без гражданства;</p>
<p>вид на жительство;</p>
<p>СНИЛС (при наличии);</p>
<p><strong>6) для иностранных граждан</strong>, <strong>временно</strong> проживающих в Российской Федерации:</p>
<p>паспорт иностранного гражданина либо иной документ, установленный федеральным законом или признаваемый в соответствии с международным договором Российской Федерации в качестве документа, удостоверяющего личность иностранного гражданина, с отметкой о разрешении на временное проживание в Российской Федерации;</p>
<p>СНИЛС (при наличии);</p>
<p><strong>7) для лиц без гражданства, временно</strong> проживающих в Российской Федерации:</p>
<p>документ, признаваемый в соответствии с международным договором Российской Федерации в качестве документа, удостоверяющего личность лица без гражданства, с отметкой о разрешении на временное проживание в Российской Федерации;</p>
<p>либо документ установленной формы, выдаваемый в Российской Федерации лицу без гражданства, не имеющему документа, удостоверяющего его личность;</p>
<p>СНИЛС (при наличии);</p>
<p><strong>8) для представителя застрахованного лица</strong>:</p>
<p>документ, удостоверяющий личность;</p>
<p>доверенность на регистрацию в качестве застрахованного лица в выбранной страховой медицинской организации, оформленной в соответствии со статьей 185 части первой Гражданского кодекса Российской Федерации;</p>
<p><strong>9) для законного представителя застрахованного лица</strong>:</p>
<p>документ, удостоверяющий личность и (или) документ, подтверждающий полномочия законного представителя;</p>
<p><strong>10) для лиц без определенного места жительства и занятий</strong> (в том числе детей) при отсутствии документов, удостоверяющих личность, учреждениями социальной помощи&nbsp;представляется ходатайство о регистрации в качестве застрахованного лица, содержащее:</p>
<p>сведения о застрахованном лице (фамилия, имя, отчество (при наличии), пол, дата рождения, место рождения, гражданство, место пребывания);</p>
<p>сведения о ходатайствующей организации (наименование, контактная информация, фамилия, имя, отчество (при наличии) представителя, печать);</p>
<p>наименование территориального фонда;</p>
<p><strong>11) для лиц, не идентифицированных в период лечения</strong>, медицинской организацией представляется ходатайство об идентификации застрахованного лица, содержащее:</p>
<p>предполагаемые сведения о застрахованном лице (фамилия, имя, отчество (при наличии), пол, дата рождения, место рождения, гражданство, место пребывания);</p>
<p>сведения о ходатайствующей организации (наименование, контактная информация, фамилия, имя, отчество (при наличии) представителя, печать);</p>
<p>наименование территориального фонда.</p>
<br clear="all" /> <br />