<h1>Права и обязанности ЗЛ защита прав граждан</h1>
<p align="center">
	<%= image_tag "782219401_6.jpg", :width => "360", :height => "199", :alt => "4108852.jpg" %>
</p>
<p align="center"> </p>
<p lang="ru-RU" style="text-align: center;">
<span style="font-size: 14pt;">
<strong>Ваш личный страховщик, действующий совместно с государством!</strong>
</span>
</p>
<p lang="ru-RU" style="text-align: center;">
<strong>
<strong>
<span style="color: #000000; font-size: 12pt;" color="#000000">
<span style="color: #000000; font-size: 12pt;" color="#000000">
<span style="color: #000000; font-size: 12pt;" color="#000000">О ВЫЯВЛЕННЫХ ПО ОБРАЩЕНИЯМ ЗАСТРАХОВАННЫХ ЛИЦ НАРУШЕНИЯХ ПРИ ПРЕДОСТАВЛЕНИИ МЕДИЦИНСКОЙ ПОМОЩИ</span>
</span>
</span>
</strong>
</strong>
</p>
<div lang="ru-RU" style="text-align: center;">
<br>
<br>
</div>
<div lang="ru-RU" style="text-align: center;">
<strong>
<span style="color: #000000; font-size: 12pt;" color="#000000">
<span style="font-family: Futuris, sans-serif;" face="Futuris, sans-serif">
<span size="6">ВСЕ ОБРАЩЕНИЯ ЗАСТРАХОВАННЫХ ЛИЦ В СТРАХОВУЮ МЕДИЦИНСКУЮ ОРГАНИЗАЦИЮ ФИКСИРУЮТСЯ В ЖУРНАЛЕ РЕГИСТРАЦИИ ПИСЬМЕННЫХ И УСТНЫХ ОБРАЩЕНИЙ И РАССМАТРИВАЮТСЯ ВРАЧАМИ-ЭКСПЕРТАМИ «ЦМС». ПРОВОДИТСЯ ЭКСПЕРТИЗА КАЧЕСТВА ОКАЗАНИЯ МЕДИЦИНСКИХ УСЛУГ. В СЛУЧАЕ ВЫЯВЛЕНИЯ НАРУШЕНИЙ ПРЕДЪЯВЛЯЮТСЯ ШТРАФНЫЕ САНКЦИИ К МЕДИЦИНСКИМ ОРГАНИЗАЦИЯМ.</span>
</span>
</span>
</strong>
</div>
<div lang="ru-RU" style="text-align: center;">
<strong>
<span style="color: #000000; font-size: 12pt;" color="#000000">
<span style="font-family: Futuris, sans-serif;" face="Futuris, sans-serif">
<span size="6"> В 2011 ГОДУ ЧИСЛО ОБРАЩЕНИЙ ЗАСТРАХОВАННЫХ ЛИЦ В ОТДЕЛ ЗАЩИТЫ ПРАВ ГРАЖДАН СОСТАВИЛО 3 СЛУЧАЯ, ИЗ НИХ: ПИСЬМЕННЫЕ ОБРАЩЕНИЯ — 1 СЛУЧАЙ; УСТНЫЕ ОБРАЩЕНИЯ — 2 СЛУЧАЯ.</span>
</span>
</span>
</strong>
</div>
<p align="center"> </p>
<p align="center">
<span style="font-size: 14pt;">
<strong>ПРАВА И ОБЯЗАННОСТИ ЗАСТРАХОВАННЫХ ЛИЦ,</strong>
</span>
</p>
<p align="center">
<span style="font-size: 14pt;">
<strong>СТРАХОВАТЕЛЕЙ, СТРАХОВЫХ МЕДИЦИНСКИХ ОРГАНИЗАЦИЙ</strong>
</span>
</p>
<p align="center">
<span style="font-size: 14pt;">
<strong>И МЕДИЦИНСКИХ ОРГАНИЗАЦИЙ</strong>
</span>
</p>
<p align="center"> </p>
<p>Права и обязанности застрахованных лиц</p>
<p> </p>
<p>1. Застрахованные лица имеют право на:</p>
<p>1) бесплатное оказание им медицинской помощи медицинскими организациями при наступлении страхового случая:</p>
<p>а) на всей территории Российской Федерации в объеме, установленном базовой программой обязательного медицинского страхования;</p>
<p>б) на территории субъекта Российской Федерации, в котором выдан полис обязательного медицинского страхования, в объеме, установленном территориальной программой обязательного медицинского страхования;</p>
<p>2) выбор страховой медицинской организации путем подачи заявления в порядке, установленном правилами обязательного медицинского страхования;</p>
<p>3) замену страховой медицинской организации, в которой ранее был застрахован гражданин, один раз в течение календарного года не позднее 1 ноября либо чаще в случае изменения места жительства или прекращения действия договора о финансовом обеспечении обязательного медицинского страхования в порядке, установленном правилами обязательного медицинского страхования, путем подачи заявления во вновь выбранную страховую медицинскую организацию;</p>
<p>4) выбор медицинской организации из медицинских организаций, участвующих в реализации территориальной программы обязательного медицинского страхования в соответствии с законодательством Российской Федерации;</p>
<p>5) выбор врача путем подачи заявления лично или через своего представителя на имя руководителя медицинской организации в соответствии с законодательством Российской Федерации;</p>
<p>6) получение от территориального фонда, страховой медицинской организации и медицинских организаций достоверной информации о видах, качестве и об условиях предоставления медицинской помощи;</p>
<p>7) защиту персональных данных, необходимых для ведения персонифицированного учета в сфере обязательного медицинского страхования;</p>
<p>8) возмещение страховой медицинской организацией ущерба, причиненного в связи с неисполнением или ненадлежащим исполнением ею обязанностей по организации предоставления медицинской помощи, в соответствии с законодательством Российской Федерации;</p>
<p>9) возмещение медицинской организацией ущерба, причиненного в связи с неисполнением или ненадлежащим исполнением ею обязанностей по организации и оказанию медицинской помощи, в соответствии с законодательством Российской Федерации;</p>
<p>10) защиту прав и законных интересов в сфере обязательного медицинского страхования.</p>
<p>Застрахованные лица обязаны:</p>
<p>1) предъявить полис обязательного медицинского страхования при обращении за медицинской помощью, за исключением случаев оказания экстренной медицинской помощи;</p>
<p>2) подать в страховую медицинскую организацию лично или через своего представителя заявление о выборе страховой медицинской организации в соответствии с правилами обязательного медицинского страхования;</p>
<p>3) уведомить страховую медицинскую организацию об изменении фамилии, имени, отчества, места жительства в течение одного месяца со дня, когда эти изменения произошли;</p>
<p>4) осуществить выбор страховой медицинской организации по новому месту жительства в течение одного месяца в случае изменения места жительства и отсутствия страховой медицинской организации, в которой ранее был застрахован гражданин.</p>
<p>3. Обязательное медицинское страхование детей со дня рождения до дня государственной регистрации рождения осуществляется страховой медицинской организацией, в которой застрахованы их матери или другие законные представители. После дня государственной регистрации рождения ребенка и до достижения им совершеннолетия либо после приобретения им дееспособности в полном объеме и до достижения им совершеннолетия обязательное медицинское страхование осуществляется страховой медицинской организацией, выбранной одним из его родителей или другим законным представителем.</p>
<p>4. Выбор или замена страховой медицинской организации осуществляется застрахованным лицом, достигшим совершеннолетия либо приобретшим дееспособность в полном объеме до достижения совершеннолетия (для ребенка до достижения им совершеннолетия либо после приобретения им дееспособности в полном объеме до достижения совершеннолетия - его родителями или другими законными представителями), путем обращения в страховую медицинскую организацию из числа включенных в реестр страховых медицинских организаций, который размещается в обязательном порядке территориальным фондом на его официальном сайте в сети "Интернет" и может дополнительно опубликовываться иными способами.</p>
<p>5. Для выбора или замены страховой медицинской организации застрахованное лицо лично или через своего представителя обращается в выбранную им страховую медицинскую организацию с заявлением о выборе (замене) этой страховой медицинской организации. На основании указанного заявления застрахованному лицу или его представителю страховой медицинской организацией выдается полис обязательного медицинского страхования в порядке, установленном правилами обязательного медицинского страхования. Если застрахованным лицом не было подано заявление о выборе (замене) страховой медицинской организации, такое лицо считается застрахованным той страховой медицинской организацией, которой он был застрахован ранее, за исключением случаев, предусмотренных пунктом 4 части 2 настоящей статьи.</p>
<p>6. Сведения о гражданах, не обратившихся в страховую медицинскую организацию за выдачей им полисов обязательного медицинского страхования, ежемесячно до 10-го числа направляются территориальным фондом в страховые медицинские организации, осуществляющие деятельность в сфере обязательного медицинского страхования в субъекте Российской Федерации, пропорционально числу застрахованных лиц в каждой из них для заключения договоров о финансовом обеспечении обязательного медицинского страхования. Соотношение работающих граждан и неработающих граждан, не обратившихся в страховую медицинскую организацию, которое отражается в сведениях, направляемых в страховые медицинские организации, должно быть равным.</p>
<p>7. Страховые медицинские организации, указанные в части 6 настоящей статьи:</p>
<p>1) в течение трех рабочих дней с момента получения сведений из территориального фонда информируют застрахованное лицо в письменной форме о факте страхования и необходимости получения полиса обязательного медицинского страхования;</p>
<p>2) обеспечивают выдачу застрахованному лицу полиса обязательного медицинского страхования в порядке, установленном статьей 46 настоящего Федерального закона;</p>
<p>3) предоставляют застрахованному лицу информацию о его правах и обязанностях</p>
<p align="center"> </p>