<h1>Порядок получения полиса</h1>
<p style="text-align: left;">
	<%= image_tag "781830201_6.jpg", :width => "142", :height => "95", :title => "i (11).jpg" %>
</p>
<p style="text-align: center;"> </p>
<p style="text-align: left;"> </p>
<p>
<strong>Как получить полис ОМС?</strong>
</p>
<ol type="1" start="1">
<li>На всей территории Российской Федерации с 1-го мая 2011 года вводится полис ОМС единого образца.</li>
<li>Полисы обязательного медицинского страхования, выданные лицам, застрахованным по обязательному медицинскому страхованию до дня вступления в силу нового Федерального Закона (до 1 января 2011 года), являются действующими до их замены на полисы обязательного медицинского страхования единого образца.</li>
<li>Замена полисов на полисы единого образца будет производиться постепенно. При этом будут действовать как старые, так и новые бланки полисов.</li>
<li>Для выбора или замены страховой медицинской организации застрахованное лицо лично или через своего представителя (для ребенка до достижения им совершеннолетия либо после приобретения им дееспособности в полном объеме до достижения совершеннолетия - законный представитель) обращается в выбранную им страховую медицинскую организацию с заявлением о выборе (замене) страховой медицинской организации,</li>
<li>
Процедура оформления «нового» полиса ОМС единого образца состоит из нескольких этапов:
<br>
- гражданин при обращении в страховую компанию подаёт заявление и получаёт временное свидетельство, подтверждающее оформление полиса ОМС, которое действительно в течение 30 рабочих дней;
<br>
- в течение этого времени изготавливается персональный полис ОМС единого образца;
<br>
- после поступления в страховую компанию готового нового полиса ОМС, гражданин извещается об этом и ему обменивают  ранее выданное временное свидетельство на новый полис ОМС единого образца.
</li>
<li>Если застрахованным лицом не было подано заявление о выборе (замене) страховой медицинской организации, такое лицо считается застрахованным той страховой медицинской организацией, которой он был застрахован ранее</li>
<li>«Новые» полисы ОМС единого образца не надо будет менять при увольнении, смене места работы или переезде на новое место жительства.</li>
</ol>
<br>
<p> </p>
<p>
<strong>
Заявление о выборе (замене) страховой медицинской организации:  
<a href="/d/286204/d/zayavlenie_o_vybore_sk__.doc">Заявление 1</a>
</strong>
</p>
<p>
<strong>
<br>
<br>
Заявление о выдаче дубликата полиса или переоформлении полиса:
<a href="/d/286204/d/zayavlenie___dublikat_.doc">Заявление 2</a>
</strong>
</p>
<p>
<strong>
<br>
</strong>
</p>
<p>
<strong>
<br>
</strong>
</p>
<p style="text-align: center;">
<strong>Порядок обжалования решений, действий или бездействия работников при выдаче полисов</strong>
</p>
<p> </p>
<p>
<em>Обращения и жалобы рассматриваются в соответствии с требованиями Федерального закона от 02.05.2006 № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации».</em>
</p>
<p> </p>
<p>
1. Граждане имеют право на обжалование действий (бездействий) и решений, осуществляемых (принятых) в ходе исполнения функции по выдаче полисов ОМС.
<br>
Обжалование может производиться в досудебном (внесудебном) порядке путем обращении непосредственно к руководителю подразделения, в функции которого входит выдача полисов.
<br>
Если гражданин не получил объективный мотивированный ответ на свое обращение, то возможно обращение к руководителю ОО СМО "ЦМС" (далее - СМО).
<br>
Заявитель имеет право на получение информации и документов, необходимых для обоснования и рассмотрения жалобы.
<br>
<br>
2. Основанием для начала процедуры досудебного (внесудебного) обжалования является личное устное или письменное обращения заинтересованного лица.
</p>
<p>
<br>
3. Руководитель СМО  проводит личный прием заявителя по утвержденному графику или в соответствии с режимом работы организации.
<br>
Личный прием проводится по предварительной записи. Запись заявителя проводится при личном обращении или с использованием средств телефонной связи по номерам телефонов, которые размещаются на Интернет-сайте и информационных стендах организации.
<br>
Специалист, осуществляющий запись заявителей на личный прием, информирует заявителя о дате, месте приема, должности, фамилии, имени и отчестве руководителя, осуществляющего прием.
<br>
При личном приеме заявитель предъявляет документ, удостоверяющий его личность.
<br>
Содержание устной жалобы заносится в журнал личного приема. В случае если изложенные в устной жалобе факты и обстоятельства являются очевидными и не требуют дополнительной проверки, ответ на жалобу, с согласия заявителя, может быть дан устно в ходе личного приема, о чем делается запись в журнале личного приема.
<br>
В ходе личного приема заявителю может быть отказано в дальнейшем рассмотрении жалобы, если ему ранее был дан ответ по существу поставленных в жалобе вопросов.
<br>
<br>
4. Письменные обращения предоставляются гражданином лично или с курьером, направляются на адреса, в том числе электронные, центрального офиса. Контакты руководителей Компании  размещены в разделе 
<a href="/main/contacts">Контакты</a>
<br>
<br>
5. В письменном обращении гражданин указывает:
</p>
<p>наименование Компании, структурного подразделения Компании;</p>
<p>фамилию, имя, отчество должностного лица, которому адресовано заявление</p>
<p>свои фамилию, имя, отчество (последнее - при наличии)</p>
<p>контактные данные (телефон, адрес электронной почты (при наличии), почтовый адрес;</p>
<p>наименование должности, фамилия, имя и отчество сотрудника, должностного лица, решение, действие или бездействие, которого обжалуется (при наличии информации);</p>
<p>суть (обстоятельства) обжалуемого действия (бездействия), основания, по которым заявитель считает, что нарушены его права либо незаконно возложена не предусмотренная законодательством РФ обязанность;</p>
<p>иные сведения, документы и материалы либо их копии, имеющие отношение к существу обращения, которые заявитель считает необходимым сообщить, в том числе копию письменного обоснования действия сотрудника (при наличии);</p>
<p>личную подпись и дату.</p>
<p>
Если в письменной жалобе содержатся угрозы жизни, нецензурные и оскорбительные выражения в адрес должностного лица, членов и семей, должностное лицо вправе оставить жалобу без ответа и сообщить заявителю о недопустимости злоупотреблением правом.
<br>
<br>
6. Срок рассмотрения обращений граждан - не более 15 дней. В случае необходимости истребования дополнительных документов и направления запросов в иные органы и организации - не более 30 дней с момента регистрации такого обращения.
<br>
<br>
7. По результатам рассмотрения обращения принимается решение об удовлетворении требований заявителя либо об отказе в удовлетворении жалобы и направляется по адресу, в том числе электронному, указанному, как контактная информация в обращении. Если в письменной жалобе не указана фамилия заявителя и контактные данные, ответ не дается.
<br>
<br>
8. Целью досудебного (внесудебного) разрешения вопросов является объективное, всестороннее и своевременное рассмотрение жалоб граждан, достижение по взаимному согласию договоренности (в случае личного устного обращения) или подготовка мотивированного ответа (в случае письменного обращения).
<br>
<br>
9. Граждане в досудебном порядке вправе обжаловать решения, действия или бездействия работников СМО по выдаче полисов ОМС в территориальный фонд обязательного медицинского страхования, федеральный фонд обязательного медицинского страхования в соответствии законодательством РФ.
<br>
<br>
10. Граждане вправе обжаловать решения, действия или бездействие работников СМО по выдаче полисов ОМС в судебном порядке. Заинтересованное лицо вправе обратиться за защитой нарушенных прав и законных интересов в суды общей юрисдикции, в порядке, установленным законодательством о гражданском судопроизводстве.
</p>
<ul>
<li>
<a href="/main/perechen_dokumentov_neobhodimyh_dl">
<b>Перечень документов, необходимых для получения полиса</b>
</a>
</li>
</ul>