<div class="page-header">
  <h3><%=t 'Файлы XML для отправки в ТерФОМС' %></h3>
</div>
<p>Застрахованные лица</p>
<br>
<div id="ops">
  <div id="ops_form">
    <input type="text" id="dp-fild"/>
    <button id="ops_search" type="submit" name="button" data-disable-with="Please wait...">Search</button>
  </div>
  <div id="ops_links"></div>
</div>
<br>
<p>Прикрепление к лечебным учреждениям</p>
<br>
<div id="ops">
  <div id="ops_form">
    <input type="text" id="dp-fild-ats"/>
    <button id="ats_search" type="submit" name="button" data-disable-with="Please wait...">Search</button>
  </div>
  <div id="ats_links"></div>
</div>
<br>
<p>Все застрахованные на дату</p>
<br>
<div id="ops">
  <div id="ops_form">
    <input type="text" id="dp-fild-all"/>
    <button id="all_search" type="submit" name="button" data-disable-with="Please wait...">Search</button>
  </div>
  <div id="all_links"></div>
</div>

