<div class="page-header">
  <h3><%=t 'Файлы XML для передачи' %></h3>
</div>

<div id="ops">
  <div id="ops_form">
    <input type="text" id="dp-fild"/>
    <button id="ops_search" type="submit" name="button" data-disable-with="Please wait...">Search</button>
  </div>
  <div id="ops_links"></div>
</div>
<!--<% if @a %>
  <% @a.each do |a| %>
    <%=link_to a[:name], files_ops_path(a)  %>
  <% end %>

<% end %>-->