<div class="page-header">
  <h3>Зарегестрированные люди</h3>
</div>
<br>  
  <form class="form-search">
    <div class="input-append">
      <input id="customers_search_query" type="text" class="span8 search-query">
      <button type="submit" class="btn">Поиск</button>
    </div>
  </form>
  <br>
  <table id="customers_table_search" class="table table-hover" border="0" cellspacing="5" cellpadding="5">
    <thead>
      <tr><th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Пол</th><th>Дата рождения</th><th colspan="2">Документ</th></tr>
    </thead>
  </table>
<br>
<div id="customers_customer_info"></div>
