<!-- Modal Atl_fakt -->
<div id="atl_fakt_hModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="faktPrikreplenie" aria-hidden="true">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="faktPrikreplenie">Фактическое прикрепление</h3>
  </div>
  <div class="modal-body">
    <% @at = person.ats.build %>
    <%= render :partial => 'ats/form', :locals => { :at => @at } %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button id="create_at_fakt" class="btn btn-primary" disabled="disabled" disable_with="Please wait...">Сохранить</button>
  </div>
</div> 