<div class="page-header">
  <h3><%= 'Количество прикрепленных к ЛУ по территориям' %></h3>
</div>
<% @ates.each do |ate| %>
<ul class="ate" data-kdatemu=<%= ate.id %>><%= ate.nameate %></ul>
<% end %>